{% extends "base.html" %}

{% block content %}
  <article>
    <h1><a href="/movies/random">random</a></h1>

    <h1>continue</h1>
    <h1>recommendations</h1>
    <h1>popular</h1>

    <h1>new</h1>
    <div class="movies">
      {% for m in new %}
        <div>
          <img class="poster" src="media/{{ m[1] }}" alt="{{ m[2] }} poster"/>
        
          <a class="title" href="/movies/{{ m[0] }}">{{ m[2] }}</a>
        </div>
      {% endfor %}
    </div>
    <h1>soon</h1>
  </article>
{% endblock %}
