{% extends "base.html" %}

{% block content %}
  <div>
    {{ episode.number }}. {{ episode.title }}
  </div>

  <div>
    {{ duration }}
  </div>

  <div>
    <select onchange="set_suitable_source(this.value)">
      {% for quality in qualities %}
        <option value="{{ quality.id }}">{{ quality.resolution }}</option>
      {% endfor %}
    </select>
  </div>

  <video src="/api/videos/{{ records[0].filename }}" controls autoplay="autoplay" muted="muted">
    {% for record in records %}
      <source src="/api/videos/{{ record.filename }}" quality_id="{{ record.quality_id }}" data-type="video/mp4" >
    {% endfor %}
  </video>

  <div>
    <input id="content"/>

    <button onclick="send_moment()">submit</button>
  </div>

  {% for moment in moments %}
    <div>
      <button onclick="go_moment({{moment.time}})">{{moment.time}}</button> - {{ moment.content }}
    </div>
  {% endfor %}

  <script>
    const go_moment = (time) => {
      const player = document.querySelector("video");
      player.currentTime = time
    }

    const send_moment = async () => {
      const content = document.getElementById("content")

      const player = document.querySelector("video");
      const current_time = player.currentTime

      const moment = {
        content: content.value,
        episode_id: {{ episode.id }},
        time: current_time
      }

      let response = await fetch("/api/moments", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(moment)
      });
    }

    const set_suitable_source = (quality_id) => {
      const player = document.querySelector("video");
      const sources = player.querySelectorAll("source");

      const current_time = player.currentTime

      sources.forEach(
        source => {
          if (quality_id === source.getAttribute("quality_id"))
            player.src = source.src
            player.currentTime = current_time
            const is_playing_possible = player.play()
            is_playing_possible.then(_ => player.play())
        }
      );
    }
  </script>
{% endblock %}
