{% extends "base.html" %}

{% block content %}
  {{ episode.number }}. {{ episode.title }}
  <div>
    <label>
      Quality
      <select onchange="quality_changed(this.value)">
        {% for quality in qualities %}
          <option value="{{ quality.id }}">{{ quality.resolution }}</option>
        {% endfor %}
      </select>
    </label>
  </div>

  <video src="/api/videos/{{ records[0].filename }}" controls>
    {% for record in records %}
      <source src="/api/videos/{{ record.filename }}" quality_id="{{ record.quality_id }}" data-type="video/mp4" >
    {% endfor %}
  </video>

  <script>
    const set_suitable_source = (quality_id) => {
      const player = document.querySelector("video");
      const sources = player.querySelectorAll("source");

      const current_time = player.currentTime
      
      sources.forEach(
        source => {
          if (quality_id === source.getAttribute("quality_id"))
            player.setAttribute("src", source.getAttribute("src"))
            player.currentTime = current_time
            <!-- TODO: fix some issues in browser -->
            player.play();
        }
      );
    }

    const quality_changed = (quality_id) => {
      set_suitable_source(quality_id);
    }

    window.onload = set_suitable_source;
  </script>
{% endblock %}
