{% extends "base.html" %}

{% block content %}
  {% for i in info %}
    <div>
      <img src="media/{{ i.movie.poster }}" alt="{{ i.movie.translated_title }} poster" />

      <p>
        <a href="/movies/{{ i.movie.id }}">{{ i.movie.translated_title }}</a>
      </p>

      <p>{{ i.movie.original_title }}</p>

      <div>
        {% for t in i.tags %}
          {{ t.title }}
        {% endfor %}
      </div>

      <div>
        {{ i.seasons_count }} season{% if i.seasons_count > 1 %}s{% endif %}

        {{ i.episodes_count }} episode{% if i.episodes_count > 1 %}s{% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
