{% extends "base.html" %}

{% block content %}
  <img src="/media/{{ movie.poster }}" alt="{{ movie.translated_title }} poster" width="180" height="320"/>

  {{ movie.translated_title }} | {{ movie.original_title }}

  {{ rating }} / {{ ratings_amount }}

  {% for i in range(1, 11) %}
    <input id="{{ i }}" type="checkbox" value="{{ i }}" onclick="change_rating(this.id)" />
  {% endfor %}

  {{ years }}

  {% for t in tags %}
    {{ t.tag.title }} ({{ t.relevance}})

    {% if user %}
      <button onclick="bump_tag({{ t.movie_tag.id }})">upvote</button>
    {% endif %}
  {% endfor %}

  {% if not user %}
    sign in to vote for a tag or suggest your own
  {% endif %}

  {% for g in genres %}
    {{ g.title }}
  {% endfor %}

  {{ status.title }}

  {{ seasons_amount }} season{% if seasons_amount > 1 %}s{% endif %}

  {{ episodes_amount }} episode{% if episodes_amount > 1 %}s{% endif %}

  {{ duration }}

  {{ episode_duration }}

  {{ age.title }}

  studios:

  {% for studio in studios %}
    <a href="/studios/{{ studio.id }}">{{ studio.title }}</a>
  {% endfor %}

  {% for _, activity_persons in activities_persons.items() %}
    {{ activity_persons["activity"].title }}:

    {% for person in activity_persons["persons"] %}
      <a href="/persons/{{ person.id }}">{{ person.name }}</a>
    {% endfor %}
  {% endfor %}

  {{ movie.description }}

  {% for screenshot in screenshots %}
    <img src="/media/{{ screenshot.filename }}" alt="{{ movie.translated_title }} screenshot" width="320" height="180"/>
    {{ screenshot.title }}
  {% endfor %}

  {% for season in seasons %}
    {% if season.season.title %}
      {{ season.season.title }}
    {% else %}
      season {{ season.season.number }}
    {% endif %}

    {% for episode in season.episodes %}
      <a href="/episodes/{{ episode.id }}">{{ episode.number }}. {{ episode.title }} {{ episode.release_date }}</a>
    {% endfor %}
  {% endfor %}

  {% for review in reviews %}
    {{ review.content }}
  {% endfor %}

  <input id="content"/>

  <button onclick="send_review()">submit</button>

  <script>
    const change_rating = async (id) => {
      for (let i = id; i <= 10; i++) {
        let star = document.getElementById(i)
        star.checked = false
      }
      for (let i = 1; i <= id; i++) {
        let star = document.getElementById(i)
        star.checked = true
      }

      const is_rating_set = false
      if (is_rating_set)
        await fetch(`/api/ratings/${id}`, {method: 'PUT'})
      else
        await fetch(`/api/ratings`, {method: 'POST'})
    }

    const bump_tag = async (id) => {
      let response = await fetch(`/api/movies-tags/${id}/bump`, {method: 'PATCH'})
      window.location.reload()
    }

    const send_review = async () => {
      const content = document.getElementById("content")

      const review = {
        content: content.value,
        movie_id: "{{ movie.id }}"
      }

      let response = await fetch("/api/reviews", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(review)
      });

      window.location.reload()
    }
  </script>
{% endblock %}
