{% extends 'base.html' %}
{% block content %}
    <h2>{{ movie.title }}</h2>
    {% for scene in movie.moviescene_set.all %}
        <img src="{{ scene.image.url }}" alt="{{ movie.title }} scene">
        <small>{{ scene.title }}</small>
    {% endfor %}

    <form action="#" method="post">
        <label>
            Your Comment *
            <textarea id="comment" name="text" rows="5" required="required"></textarea>
        </label>
        <label>
            User name *
            <input id="username" name="username" required="required">
        </label>
        <label>
            Email *
            <input id="email" name="email" required="required">
        </label>
        <button type="submit">Send</button>
    </form>
{% endblock %}