{% extends "base.html" %}

{% block content %}
  {{ count }}

  {% for item in items %}
    <div>
      <img src="media/{{ item.movie.poster }}" alt="{{ item.movie.translated_title }} poster" width="180" height="320"/>

      <a href="/movies/{{ item.movie.id }}">{{ item.movie.translated_title }} | {{ item.movie.original_title }}</a>

      {% for t in item.tags %}
        {{ t.title }}
      {% endfor %}

      {% for c in item.countries %}
        {{ c.title }}
      {% endfor %}

      {{ item.rating }} / {{ item.ratings_amount }}

      {{ item.years }}

      {% for g in item.genres %}
        {{ g.title }}
      {% endfor %}

      {{ item.status.title }}

      {{ item.seasons_amount }} season{% if item.seasons_amount > 1 %}s{% endif %}

      {{ item.episodes_amount }} episode{% if item.episodes_amount > 1 %}s{% endif %}

      {{ item.duration }}

      {{ item.episode_duration }}

      {{ item.age.title }}
    </div>
  {% endfor %}

  {% for page in range(pages) %}
    <a href="?page={{ page }}{% if limit %}&limit={{ limit }}{% endif %}{% if search %}&search={{ search }}{% endif %}{% if status %}{% for s in status %}&status={{ s }}{% endfor %}{% endif %}">{{ page }}</a>
  {% endfor %}

  <form action="/movies{% if search %}?search={{ search }}{% endif %}" method="get">
    {% for s in statuses %}
      <input id="{{ s.id }}" type="checkbox" name="status" value="{{ s.title }}" {% if not status or s.title in status %}checked{% endif %}/> 
      <label for="status">{{ s.title }}</label>
    {% endfor %}

    <select name="limit" id="limit">
        <option value="10" {% if limit == 10 %}selected{% endif %}>10</option>
        <option value="30" {% if limit == 30 %}selected{% endif %}>30</option>
        <option value="50" {% if limit == 50 %}selected{% endif %}>50</option>
    </select>

    <button type="submit">apply</button>
  </form>
{% endblock %}
