{% extends 'base.html' %}
{% load movie_tags %}
{% block content %}
     <ul>
        {% get_categories as categories %}
        {% for category in categories %}
            <li><a href="/">{{ category.name }}</a></li>
        {% endfor %}
     </ul>

    <ul>
        {% get_genres as genres %}
        {% for genre in genres %}
            <label>
                <input type="checkbox">
                <span>{{ genre }}</span>
            </label>
        {% endfor %}
    </ul>

    <form action="{% url 'filter' %}" method="get">
        <ul>
            {% get_years as years %}
            {% for movie in years %} <!-- to get year without (), -->
                <label>
                    <input type="checkbox" name="year" value="{{ movie.year }}">
                    <span>{{ movie.year }}</span>
                </label>
            {% endfor %}
        </ul>
        <button type="submit">Find</button>
    </form>


    <div class="movies">
        {% for movie in movies %}
            <div class="movie grow">
                <img class="poster" src="{{ movie.poster.url }}" alt="Movie Poster">
                <a class="movie-information movie-title" href="{% url 'movie' movie.slug %}">
                    <h2>{{ movie.title }}</h2></a>
                <h4 class="movie-information movie-tagline">&laquo;{{ movie.tagline }}&raquo;</h4>
                <h4 class="movie-information">{{ movie.category }}</h4>
                <h4 class="movie-information movie-description">{{ movie.description }}</h4>
                <h4 class="movie-information">{{ movie.year }}</h4>
                <h4 class="movie-information">{{ movie.country }}</h4>
            </div>
    {% endfor %}
    </div>

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock %}