{% extends 'base.html' %}
{% block content %}
    <h2>{{ movie.title }}</h2>
    {% for scene in movie.moviescene_set.all %}
        <img src="{{ scene.image.url }}" alt="{{ movie.title }} scene">
        <small>{{ scene.title }}</small>
    {% endfor %}

    <form id="review" action="{% url 'add_review' movie.slug %}" method="post">
        <input type="hidden" id="parent_review" name="parent_review" value="">
        {% csrf_token %}
        <label>
            Your Comment *
            <textarea id="comment" name="text" rows="5" required="required"></textarea>
        </label>
        <label>
            User name *
            <input id="username" name="username" required="required">
        </label>
        <label>
            Email *
            <input id="email" name="email" required="required">
        </label>
        <button type="submit">Send</button>
    </form>

    <h5>Comments: {{ movie.review_set.count }}</h5>
    {% for review in movie.review_set.all %}
        <h5>{{ review.username }}</h5>
        <p>{{ review.text }}</p>
        <a href="#review" onclick="addReview('{{ review.id }}', '{{ review.username }}')">Answer</a>
        {{ review.id }}
    {% endfor %}

    <script>
        function addReview(parentId, parentUsername) {
            document.getElementById("parent_review").value = parentId;
            document.getElementById("comment").innerText = parentUsername + ", ";
        }
    </script>
{% endblock %}