{% extends "base.html" %}

{% block content %}
  <img src="/media/{{ movie.poster }}" alt="{{ movie.title }} poster" />
  <p>{{ movie.title }}</p>

  {{ age.title }}

  {{ seasons_count }} season{% if seasons_count > 1 %}s{% endif %}

  {{ episodes_count }} episode{% if episodes_count > 1 %}s{% endif %}

  {% for screenshot in screenshots %}
    <div>
      <img src="/media/{{ screenshot.filename }}" alt="{{ movie.title }} screenshot" />
      <p>{{ screenshot.title }></p>
    </div>
  {% endfor %}

  <p>{{ movie.description }}</p>

  {% for episode in episodes %}
    <div>
      <a href="/episodes/{{ episode.id }}">{{ episode.number }}. {{ episode.title }}</a>
    </div>
  {% endfor %}
{% endblock %}
