{% extends "base.html" %}

{% block content %}
  <img src="/media/{{ movie.poster }}" alt="{{ movie.translated_title }} poster" width="180" height="320"/>
  <div>{{ movie.translated_title }} | {{ movie.original_title }}</div>

  <div>
    {% for t in tags %}
      {{ t.title }}
    {% endfor %}
  </div>

  <div>
    {% for g in genres %}
      {{ g.title }}
    {% endfor %}
  </div>

  {{ seasons_count }} season{% if seasons_count > 1 %}s{% endif %}

  {{ episodes_count }} episode{% if episodes_count > 1 %}s{% endif %}

  <div>{{ age.title }}</div>

  <div>
    Studios:

    {% for studio in studios %}
      <a href="/studios/{{ studio.id }}">{{ studio.title }}</a>
    {% endfor %}
  </div>

  {% for _, activity_persons in activities_persons.items() %}
    <div>
      {{ activity_persons["activity"].title }}:

      {% for person in activity_persons["persons"] %}
        <a href="/persons/{{ person.id }}">{{ person.name }}</a>
      {% endfor %}
    </div>
  {% endfor %}

  {% for screenshot in screenshots %}
    <div>
      <img src="/media/{{ screenshot.filename }}" alt="{{ movie.translated_title }} screenshot" width="320" height="180"/>
      <div>{{ screenshot.title }}<div>
    </div>
  {% endfor %}

  <div>{{ movie.description }}<div>

  {% for episode in episodes %}
    <div>
      <a href="/episodes/{{ episode.id }}">{{ episode.number }}. {{ episode.title }}</a>
    </div>
  {% endfor %}
{% endblock %}
