@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains-mono-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'JetBrains Mono', sans-serif;
}