@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/jetbrains-mono-regular.woff2') format('woff2');
}

* {
  font-family: 'JetBrains Mono', sans-serif;
}

.movies {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.poster {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.title {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}