<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/static/icon.ico" />
    
    <title>cinemafan</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/">cinemafan</a>
        <a href="/movies">movies</a>
        <a href="/playlists">playlists</a>

        {% if user %}
          {{ user.name }}
        {% else %}
          <a href="/auth/sign-in">sign in</a>
          <a href="/auth/sign-up">sign up</a>
        {% endif %}
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      {{ version }}
    </footer>
  </body>
</html>
