<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/static/icon.ico" />

    <link rel="stylesheet" href="/static/style.css" />
    
    <title>cinemafan</title>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <a href="/">cinemafan</a>
          <a href="/movies">movies</a>
          <a href="/playlists">playlists</a>
        </div>

        <div>
          {% if user %}
            {{ user.name }}
          {% else %}
            <a href="/auth/sign-in">sign in</a>
            <a href="/auth/sign-up">sign up</a>
          {% endif %}
        </div>
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      &copy; {{ current_year }} cinemafan {{ version }}
    </footer>
  </body>
</html>
