{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>CinemaFan</title>
        {% endif %}

        <link type="text/css" rel="stylesheet" href="{% static 'reset.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'base.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'movies/movies.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'users/users.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'fonts/css/fonts.css' %}">
    </head>
    <body>
        <header>
            <nav id="menu">
                <div class="menu-item">
                    <a href="{% url 'home' %}">Home</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="menu-item">
                        <a href="{% url 'profile' %}">Profile</a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'movie_create' %}">Add Movie</a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'signout' %}">Sign Out</a>
                    </div>
                {% else %}
                    <div class="menu-item">
                        <a href="{% url 'signin' %}">Sign Up</a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'signup' %}">Sign In</a>
                    </div>
                {% endif %}
            </nav>
        </header>

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <main>
            {% block content %}
        {% endblock %}
        </main>
        <footer>
            &copy; CinemaFan, 2021. All rights reserved
        </footer>
        <script src="{% static 'base.js' %}"></script>
    </body>
</html>