{% extends "base.html" %}

{% block content %}
  <form action="/api/v1/auth/sign-up" method="post">
    <div>
      <label for="email">email</label>
      <input type="email" name="email" required autofocus autocomplete="email"/>
    </div>
    <div>
      <label for="name">name</label>
      <input type="text" name="name" required autocomplete="username"/>
    </div>

    <div>
      <label for="password">password</label>
      <input type="password" name="password" required autocomplete="current-password"/>
    </div>

    <button type="submit">sign up</button>

    <div>
      already have an account? <a href="/auth/sign-in">sign in</a>
    </div>
  </form>
{% endblock %}